<template>
	<div class="row q-pb-md q-pt-sm">
		<div class="col-4 text-left">
			<q-btn
				no-caps
				class="button"
				@click="emits('navigate', 'previous')"
			>
				&lt;
			</q-btn>

			<q-btn
				no-caps
				class="button"
				@click="emits('navigate', 'next')"
			>
				&gt;
			</q-btn>
			
			<q-btn
				no-caps
				class="button"
				@click="emits('navigate', 'today')"
			>
				Today
			</q-btn>
			<q-btn-dropdown 
				no-caps
				class="button q-pr-xs">

				<template v-slot:label>
					<span>{{ branch?.name ?? 'All' }}</span>
				</template>

				<q-list>
					<q-item 
						clickable 
						v-close-popup
						@click="() => {
							emits('branch', branch = null)
						}">
						<q-item-section>
							<q-item-label>All</q-item-label>
						</q-item-section>
					</q-item>
					<q-item 
						v-for="data in branches"
						:key="data.id"
						clickable 
						v-close-popup
						@click="() => {
							branch = data
							emits('branch', data.id)
						}"
					>
						<q-item-section>
							<q-item-label>{{ data.name }}</q-item-label>
						</q-item-section>
					</q-item>
				</q-list>
			</q-btn-dropdown>

			<q-btn-dropdown 
				no-caps
				class="button q-pr-xs">

				<template v-slot:label>
					<span>{{ department?.name ?? 'All' }}</span>
				</template>

				<q-list>
					<q-item 
						clickable 
						v-close-popup
						@click="() => {
							emits('department', department = null)
						}">
						<q-item-section>
							<q-item-label>All</q-item-label>
						</q-item-section>
					</q-item>
					<q-item 
						v-for="data in departmentStore.$state.departments"
						:key="data.id"
						clickable 
						v-close-popup
						@click="() => {
							department = data
							emits('department', data.id)
						}"
					>
						<q-item-section>
							<q-item-label>{{ data.name }}</q-item-label>
						</q-item-section>
					</q-item>
				</q-list>
			</q-btn-dropdown>
		</div>
		<div class="col-4 text-center">
			<span class="text-h6">
				{{ props.dateRangeText }}
			</span>
		</div>

		<div class="col-4 text-right">
			<q-btn
				no-caps
				class="button"
				v-if="hasTodayTimeIn == false"
				@click="() => {
					emits('timeIn', true)
				}"
			>
				Time In
			</q-btn>
			<q-btn
				no-caps
				class="button"
				v-else
				:disable="hasTodayTimeOut && moment().format('h') <= '6'"
				@click="() => {
					emits('timeOut', true)
				}"
			>
				Time Out
			</q-btn>
		</div>
		
	</div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useDepartmentStore } from '@/stores/department'
import moment from 'moment'

const emits = defineEmits(['navigate', 'branch', 'department', 'timeIn', 'timeOut'])
const props = defineProps(['dateRangeText', 'hasTodayTimeIn', 'hasTodayTimeOut'])

const departmentStore = useDepartmentStore()
const branch = ref<any>(null)
const department = ref<any>(null)
const branches = [
	{
		id: 1,
		name: 'Cebu'
	},
	{
		id: 2,
		name: 'Manila'
	}
]
</script>