<template>
	<v-data-table
		v-model:items-per-page="itemsPerPage"
		:headers="headers"
		item-value="name"
		class="elevation-1 pa-4"
		mobile-breakpoint="900"
	>
		<template #item="{ item }">
			<tr>
				<td 
					v-for="(value, key) in item.columns" 
					:key="value" 
					:data-label="headers.filter(e => e.key === key).map(e => e.title)"
				>
					<template v-if="key === 'specific key'">specific: {{value}}</template>
					<template v-else>{{value}}</template>
				</td>
			</tr>
		</template>
	</v-data-table>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { VDataTable } from 'vuetify/labs/VDataTable'

const itemsPerPage = ref<number>(5);
const headers = ref<Array<any>>([
	{
		title: 'ID',
		align: 'center',
		key: 'id',
	},
	{
		title: 'Name',
		align: 'center',
		key: 'temporary_name',
	},
	{
		title: 'Email',
		align: 'center',
		key: 'email',
	},
	{
		title: 'Start Date',
		align: 'center',
		key: 'start_date',
	},
	{
		title: 'End Date',
		align: 'center',
		key: 'end_date',
	},
	{
		title: 'Reason',
		align: 'center',
		key: 'reason',
	},
	{
		title: 'Status',
		align: 'center',
		key: 'status',
	},
]);

</script>