<template>
	<div class="row q-col-gutter-md q-pt-sm">
		<div class="col-12">
			<q-card flat bordered class="transparent full-width">
				<q-card-section class="text-black">
					<div class="text-h8 text-bold">Color Legends</div>
				</q-card-section>
				
				<q-separator />
	
				<q-card-section>
					<div class="row">
						<div class="col-6">
							<div class="row q-col-gutter-md">
								<div class="col-12">
									<div class="text-h7 text-bold">Departments</div>
									<div class="row q-col-gutter-xs">
										<div
											v-for="(department, key) in props.departments"
											:key="key"
											class="col-12">
											<div class="q-pt-sm">
												<div class="row items-center">
													<div class="col-auto">
														<q-avatar size="25px" class="q-mr-sm" :style="`background-color: ${department.hex_code}`"/>
													</div>
													<div class="col">
														<div class="text-h7">{{ department.name }}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-6">
							<div class="row q-col-gutter-md">
								<div class="col-12">
									<div class="text-h7 text-bold">Holidays</div>
									<div class="row q-col-gutter-xs">
										<div v-for="(country, key) in holidayCountries"
											:key="key"
											class="col-12">
											<div class="q-pt-sm">
												<div class="row items-center">
													<div class="col-auto">
														<q-avatar size="25px" class="q-mr-sm" :style="`background-color: ${country.hex_code}`" />
													</div>
													<div class="col">
														<div class="text-h7">{{ country.name }}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
		
								<div class="col-12">
									<div class="text-h7 text-bold">Status</div>
									<div class="row q-col-gutter-xs">
										<div v-for="(status, key) in leaveStatuses"
											:key="key"
											class="col-12">
											<div class="q-pt-sm">
												<div class="row items-center">
													<div class="col-auto">
														<q-avatar size="25px" class="q-mr-sm" :style="`background-color: ${status.hex_code}`" />
													</div>
													<div class="col">
														<div class="text-h7">{{ status.name }}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { holidayCountries, leaveStatuses } from '@/utilities/constants'
 
const props = defineProps(['departments']);

</script>