<template>
	<div class="row q-col-gutter-md" style="min-width: inherit;">
		<div class="col-12 col-md-9">
			<NavigationButtons 
				:titleCalendar="titleCalendar"
				:departments="departments"
				:branches="branches"
				@branch="(data: number | null) => {
					branch_id = data
					getLeaves()
				}"
				@department="(data: number | null) => {
					department_id = data
					getLeaves()
				}"
				@navigate="(data: string) => {
					getTitleCalendar() 
					navigate(data)
				}"
				@show-leave-form="(data: boolean) => showLeaveForm = data"
			/>

			<LeaveForm 
				:show-leave-form="showLeaveForm"
				:start-date="startDate"
				:end-date="endDate"
				@close-form="() => {
					showLeaveForm = false
					endDate = moment().format('YYYY-MM-DD')
					startDate = moment().format('YYYY-MM-DD')
				}" 
			/>
			
			<LeaveDetails
				:leave="currentLeaveDetails"
				:show-leave-details="showLeaveDetails"
				@close-form="() => {
					showLeaveDetails = false
				}"  
			/>
			<HolidayDetails 
				:holiday="currentHolidayDetails"
				:show-holiday-details="showHolidayDetails"
				@close-form="() => {
					showHolidayDetails = false
				}" 
			/>

			<FullCalendar ref="calendarRef" :options="calendarOptions"/>
		</div>
		<div class="col-12 col-md-3">
			<ColorLegends :departments="departments"/>
		</div>
	</div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, watchEffect } from 'vue'
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import { useUserLeave } from '@/stores/user/leave'
import { useHolidayStore } from '@/stores/holiday'
import type { LeaveResponse } from '@/utilities/interfaces/leave'
import LeaveDetails from '@/components/leaves/actions/LeaveDetails.vue'
import HolidayDetails from '@/components/leaves/actions/HolidayDetails.vue'
import LeaveForm from '@/components/leaves/actions/LeaveForm.vue'
import moment from 'moment'
import type { CalendarOptions } from '@fullcalendar/core/index.js'
import ColorLegends from '@/components/leaves/ColorLegends.vue'
import { deleteArrayDataById, leaveStatuses, updateOrPushArrayById } from '@/utilities/constants'
import usePusher from '@/utilities/pusher'
import NavigationButtons from '@/components/leaves/actions/NavigationButtons.vue'
import type { HolidayResponse } from '@/utilities/interfaces/holiday'
import type { DepartmentResponse } from '@/utilities/interfaces/department'
import type { BranchesResponse } from '@/utilities/interfaces/branches'

const showLeaveDetails = ref<boolean>(false)
const currentLeaveDetails = ref<LeaveResponse>()
const showHolidayDetails = ref<boolean>(false)
const currentHolidayDetails = ref<Array<Record<string, string>>>([])
const calendarRef = ref<typeof FullCalendar | null>(null)
const innerHeight = computed(() => window.innerHeight - 165)
const calendarOptions = ref<CalendarOptions>({
	height: innerHeight.value,
	plugins: [ dayGridPlugin, timeGridPlugin, interactionPlugin ],
	timeZone: 'Asia/Manila',
	initialView: 'dayGridMonth',
	events: [],
	dayMaxEvents: true,
	progressiveEventRendering: true,
	headerToolbar: {
		left: '',
		center: '',
		right: '' // user can switch between the two
	},
	titleFormat: { // will produce something like "Tuesday, September 18, 2018"
		month: 'short',
		year: 'numeric',
	},
	selectable: true,
	weekends: false,
	eventClick: (info: any) => {
		if (info.event.extendedProps.leave) {
			currentLeaveDetails.value = info.event.extendedProps.leave
			showLeaveDetails.value = true
		}
		
		if (info.event.extendedProps.holiday) {
			currentHolidayDetails.value = info.event.extendedProps.holiday
			showHolidayDetails.value = true
		}
	},
	select: (info: any) => {
		startDate.value = moment(info.start).format('YYYY-MM-DD')
		endDate.value = moment(info.end).subtract(1, 'days').format('YYYY-MM-DD')
		showLeaveForm.value = true
	},
	eventDidMount: (info: any) => {
		// if (info.event.allDay === true) {
			info.el.style.background = info.event.extendedProps.customStyle.background;
			info.el.style.border = 'none';
			info.el.style.color = info.event.extendedProps.customStyle.textColor;
		// }
    },
})

const titleCalendar = ref('')
const startDate = ref(moment().format('YYYY-MM-DD'))
const endDate = ref(moment().format('YYYY-MM-DD'))
const showLeaveForm = ref(false)
const leaveStore = useUserLeave()
const holidayStore = useHolidayStore()
const { eventData: leaveUpdatedEvent } = usePusher('leave-updated', 'leave-updated-event');
const { eventData: leaveDeletedEvent } = usePusher('leave-deleted', 'leave-deleted-event');
const branch_id = ref<number | null>(null)
const department_id = ref<number | null>(null)
const departments = ref<Array<DepartmentResponse>>([])
const branches = ref<Array<BranchesResponse>>([])

const getLeaves = async () => {
	const calendarApi = calendarRef.value?.getApi()
	const currentStart = calendarApi?.view?.currentStart ?? moment()
	const currentEnd = calendarApi?.view?.currentEnd ?? moment()

	const leaves = await leaveStore.getLeaves(
		branch_id.value,
		department_id.value,
		moment(currentStart).subtract(1, 'weeks').format('YYYY-MM-DD'),
		moment(currentEnd).add(1, 'weeks').format('YYYY-MM-DD')
	)

	getDepartmentsFromLeaves(leaves)
	getBranchesFromLeaves(leaves)

	return leaves
}

const getDepartmentsFromLeaves = (leaves: Array<LeaveResponse>) => {
  const departmentsSet: Set<DepartmentResponse> = new Set()

  leaves.forEach(leave => {
    const department = leave.user.information.department
    departmentsSet.add(department)
  })

  const uniqueDepartments = Array.from(departmentsSet)
    .filter((department, index, self) =>
      self.findIndex(d => d.id === department.id) === index
    );

  departments.value = uniqueDepartments
}

const getBranchesFromLeaves = (leaves: Array<LeaveResponse>) => {
  const branchesSet: Set<DepartmentResponse> = new Set()

  leaves.forEach(leave => {
    const branch = leave.user.information.branch
    branchesSet.add(branch)
  })

	const uniqueBranches = Array.from(branchesSet)
    .filter((branch, index, self) =>
      self.findIndex(b => b.id === branch.id) === index
    );

  branches.value = uniqueBranches
}

const getHolidays = async () => {
	const data = await holidayStore.getHolidays()
	return data
}

const getLeaveEvents = (_leaves: Array<LeaveResponse>) => {
	const eventsArray: any = []

	_leaves.forEach(leave => {
		let statusColor = leaveStatuses.filter((item) => item.id == leave.status)[0].hex_code,
			departmentColor = leave?.user?.information?.department?.hex_code ?? '#36454F '

		eventsArray.push({
			title: leave?.user?.information?.full_name ?? leave?.user.temporary_name,
			start: formatStartDateWithTime(leave),
			end: formatEndDateWithTime(leave),
			description: leave?.reason,
			allDay: !leave?.half_day,
			color: departmentColor,
			extendedProps: {
				leave: leave,
				customStyle: {
					background: `linear-gradient(110deg, 
						${departmentColor} 80%, 
						${statusColor} 60%
					)`,
					textColor: 'white'
				}
			}
		})
	})
	
	return eventsArray
}

const getHolidayEvents = (holidays: Array<HolidayResponse>) => {
	const eventsArray: any = []

	holidays.forEach(holiday => {
		eventsArray.push({
			title: holiday.title,
			start: holiday.start_date,
			end: holiday.end_date,
			description: holiday.description,
			allDay: true,
			color: '#7CB342',
			extendedProps: {
				holiday: holiday,
				customStyle: {
					background: `#7CB342`,
					textColor: 'white'
				}
			}
		})
	})
	
	return eventsArray
}

const formatStartDateWithTime = (leave: LeaveResponse) => {
	if (meridiemTime(leave)) {
		return `${leave?.start_date} ${meridiemTime(leave)?.startTime}`
	}
	return leave?.start_date
}

const formatEndDateWithTime = (leave: LeaveResponse) => {
	if (meridiemTime(leave)) {
		return `${leave?.end_date} ${meridiemTime(leave)?.endTime}`
	}
	return moment(leave?.end_date).add(1, 'days').format('YYYY-MM-DD')
}

const meridiemTime = (leave: LeaveResponse) => {
	if (leave.half_day === 1) {
		if (leave.post_meridiem === 0) {
			return {
				startTime: '09:00',
				endTime: '14:00'
			}
		}

		return {
			startTime: '14:00',
			endTime: '18:00'
		}
	}
}

const pushLeaveData = () => {
	const updatedLeave = leaveUpdatedEvent.value?.leave
	if (updatedLeave != null) {
		updateOrPushArrayById(leaveStore.$state.leaves, updatedLeave)
	}
}

const deleteLeaveData = () => {
	const deletedLeaveId = leaveDeletedEvent.value?.leaveId
	console.log(deletedLeaveId)
	if (deletedLeaveId != null) {
		deleteArrayDataById(leaveStore.$state.leaves, deletedLeaveId)
	}
}

const navigate = (navigate: string) => {	
	const calendarApi = calendarRef.value?.getApi()

	if (navigate === 'today') {
		calendarApi.today()
		getLeaves()
	} else if (navigate === 'previous') {
		calendarApi.prev()
		getLeaves()
	} else if (navigate === 'next') {
		calendarApi.next()
		getLeaves()
	} else if (navigate === 'month') {
		calendarApi.changeView('dayGridMonth')
	} else if (navigate === 'week') {
		calendarApi.changeView('timeGridWeek')
	} else if (navigate === 'day') {
		calendarApi.changeView('timeGridDay')
	}
}

const getTitleCalendar = () => {
	const calendarApi = calendarRef.value?.getApi()
	
	setTimeout(() => {
		titleCalendar.value = calendarApi?.currentData?.viewTitle
	}, 1)
}

const getTotalEvents = async () => {
	const holidays = holidayStore.$state.holidays
	const leaves = leaveStore.$state.leaves

	const mergeEvents = [
		...getHolidayEvents(holidays),
		...getLeaveEvents(leaves),
	]

	calendarOptions.value.events = mergeEvents
}

watchEffect(async () => {
	pushLeaveData()
	deleteLeaveData()
	await getTotalEvents()
})

onMounted(async () => {
	await getHolidays()
	await getLeaves()
	getTitleCalendar() 
})

</script>
