<template>
	<q-header elevated>
		<q-toolbar class="bg-white text-black">
			<q-btn
				flat
				dense
				round
				icon="menu"
				aria-label="Menu"
				shrink
				elevation-11
				@click="toggleLeftDrawer"
			/>

			<q-toolbar-title>{{ route.name }}</q-toolbar-title>
			
			<q-btn flat color="primary" icon="manage_accounts">
				<q-menu max-width="320px">
					<div class="row no-wrap">
            			<div class="row">
							<div class="col-12">
								<q-item v-ripple>
									<q-item-section side>
										<q-avatar size="38px" color="primary" class="text-white">
											<img :src="`https://ui-avatars.com/api/?background=2c3e50&amp;color=fff&amp;name=${accountStore.account?.information?.full_name}`" alt="John">
										</q-avatar>
									</q-item-section>
									<q-item-section>
										<q-item-label>{{ accountStore.account?.information?.full_name }}</q-item-label>
										<q-item-label>{{ accountStore.account?.information?.department?.name }} | {{ accountStore.account?.information?.position?.name }} </q-item-label>
									</q-item-section>
								</q-item>
							</div>	
							<div class="col-12">
								<q-list padding>
									<q-item clickable v-ripple>
										<q-item-section avatar>
											<q-icon name="person" />
										</q-item-section>
						
										<q-item-section>
											My Profile
										</q-item-section>
									</q-item>
									<q-item clickable v-ripple>
										<q-item-section avatar>
											<q-icon name="password" />
										</q-item-section>
						
										<q-item-section>
											Change Password
										</q-item-section>
									</q-item>
									<q-item clickable v-ripple @click="logout">
										<q-item-section avatar>
											<q-icon name="logout" />
										</q-item-section>
						
										<q-item-section>
											Logout
										</q-item-section>
									</q-item>
								</q-list>
							</div>
						</div>
					</div>	
				</q-menu>
			</q-btn>
		</q-toolbar>
	</q-header>
	

	<q-drawer 
		v-model="leftDrawerOpen" 
		show-if-above
		
		:mini="!leftDrawerOpen || miniState"
		bordered
	>
		<q-list>
			<q-item v-ripple>
				<q-img
					src="/images/main-logo.jpg"
					spinner-color="white"
				/>
			</q-item>
			<q-item clickable v-ripple :to="{ name: 'Dashboard' }">
				<q-item-section avatar>
					<q-icon name="dashboard" />
				</q-item-section>

				<q-item-section>
					Dashboard
				</q-item-section>
			</q-item>

			<q-item clickable v-ripple :to="{ name: 'Attendance' }">
				<q-item-section avatar>
					<q-icon name="event" />
				</q-item-section>

				<q-item-section>
					Attendance
				</q-item-section>
			</q-item>

			<q-item clickable v-ripple :to="{ name: 'Leaves' }">
				<q-item-section avatar>
					<q-icon name="event_note" />
				</q-item-section>

				<q-item-section>
					Leaves
				</q-item-section>
			</q-item>
		</q-list>
	</q-drawer>
</template>
  
<script lang="ts" setup>
	import { ref } from 'vue'
	import { useAuthStore } from '@/stores/auth'
	import { useAccountStore } from '@/stores/account'
	import { useRoute, useRouter } from 'vue-router'

	const authStore = useAuthStore()
	const accountStore = useAccountStore()
	const route = useRoute()
	const router = useRouter()

	const miniState = ref(true)
	const leftDrawerOpen = ref(false)
	const toggleLeftDrawer = () => {
		leftDrawerOpen.value = !leftDrawerOpen.value;
	};

	const logout = async () => {
		await authStore.logout().then(() => {
			router.replace({ name: 'Login' })
		})
	}
</script>
  