<template>
	<q-dialog v-model="showModal">
		<q-card>
			<q-card-section>
				<div class="text-h6">
					Holiday Details
					<span 
						class="float-right q-pr-sm" 
						style="cursor:pointer"
						@click="cancelForm"
					>x</span>
				</div>
			</q-card-section>

			<q-card-section class="q-pt-none">
				<div class="row q-col-gutter-sm">
					<div class="col-6 text-center">
						Title:
					</div>
					<div class="col-6 text-center">
						{{ holiday.title }}
					</div>
					<div class="col-6 text-center">
						Country:
					</div>
					<div class="col-6 text-center">
						{{ holiday.country.toUpperCase() }}
					</div>
					<div class="col-6 text-center">
						Description:
					</div>
					<div class="col-6 text-center">
						{{ holiday.description }}
					</div>
					<div class="col-6 text-center">
						Start Date:
					</div>
					<div class="col-6 text-center">
						{{ moment(holiday.start_date).format('LL') }}
					</div>
					<div class="col-6 text-center">
						End Date:
					</div>
					<div class="col-6 text-center">
						{{ moment(holiday.end_date).format('LL') }}
					</div>
				</div>
			</q-card-section>
		</q-card>
	</q-dialog>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import moment from 'moment'

const emit = defineEmits(['close-form'])
const showModal = ref<boolean>(false)
const props = defineProps(['holiday', 'showHolidayDetails'])

const cancelForm = () => {
  emit('close-form', true)
  showModal.value = false
}

watch(() => props.showHolidayDetails, (newValue) => {
  showModal.value = newValue
})
</script>