<template>
	<q-dialog v-model="showModal" persistent>
		<q-card>
			<q-card-section class="row items-center q-pb-none">
				<div class="text-h6">Leave Details</div>
				<q-space />
				<q-btn icon="close" flat round dense @click="closeForm" />
			</q-card-section>

			<q-card-section class="q-pt-lg">
				<div class="row q-col-gutter-sm">
					<div class="col-6 text-center">
						Name:
					</div>
					<div class="col-6 text-center">
						{{ leave.user?.information?.full_name ?? leave.user.temporary_name }}
					</div>
					<div class="col-6 text-center">
						Type of Leave:
					</div>
					<div class="col-6 text-center">
						{{ leave.type_desc }}
					</div>
					<div class="col-6 text-center">
						Half Day?
					</div>
					<div class="col-6 text-center">
						{{ leave.half_day ? 'Yes': 'No' }}
					</div>
					<div class="col-6 text-center" v-show="leave.half_day">
						Meridiem
					</div>
					<div class="col-6 text-center" v-show="leave.half_day">
						{{ leave.post_meridiem ? 'Afternoon' : 'Morning' }}
					</div>
					<div class="col-6 text-center">
						Start Date:
					</div>
					<div class="col-6 text-center">
						{{ moment(leave.start_date).format('LL') }}
					</div>
					<div class="col-6 text-center">
						End Date:
					</div>
					<div class="col-6 text-center">
						{{ moment(leave.end_date).format('LL') }}
					</div>
					<div class="col-6 text-center">
						Day(s):
					</div>
					<div class="col-6 text-center">
						{{ getBusinessDays(leave.start_date, leave.end_date) }}
					</div>
					<div class="col-6 text-center">
						Leave Status:
					</div>
					<div class="col-6 text-center">
						{{ leave.status_desc }}
					</div>
					<div class="col-6 text-center">
						Reason:
					</div>
					<div class="col-6 text-center">
						{{ leave.reason }}
					</div>
					<div class="col-6 text-center" v-show="leave.remarks">
						Remarks:
					</div>
					<div class="col-6 text-center" v-show="leave.remarks">
						{{ leave.remarks }}
					</div>
					<div class="col-6 text-center" v-show="leave.user.id == accountStore?.$state?.account?.id && leave.status_desc === 'For Review'">
						Actions:
					</div>
					<div class="col-6 text-center" v-show="leave.user.id == accountStore?.$state?.account?.id && leave.status_desc === 'For Review'">
						<q-btn 
							round 
							color="green" 
							icon="edit" 
							size="md" 
							@click="() => {
								showLeaveForm = true
							}"
						/>
						&nbsp;
						<q-btn 
							round 
							color="deep-orange" 
							icon="delete" 
							size="md"
							@click="deleteLeave"
						/>

						<LeaveForm 
							:show-leave-form="showLeaveForm"
							:leave="showLeaveForm ? props.leave : null"
							@close-form="() => {
								showLeaveForm = false
								closeForm()
							}" 
						/>
					</div>
				</div>
			</q-card-section>

			<q-card-section v-show="
				leave.status == 1 && 
				leave.user.id != accountStore?.$state?.account?.id &&
				hasApproverPermission(accountStore?.$state?.account?.roles)
			">
				<div class="text-center">
					<q-btn
						color="primary"
						type="submit"
						label="Approve"
						class="q-mr-sm text-white"
						@click="approveLeave"
					></q-btn>
					<q-btn
						color="primary"
						type="submit"
						label="Decline"
						class="q-mr-sm"
						size="md"
						@click="declineLeave"
					></q-btn>
				</div>
			</q-card-section>
		</q-card>
	</q-dialog>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import moment from 'moment'
import { useAccountStore } from '@/stores/account'
import { useAdminLeave } from '@/stores/admin/leave'
import { useQuasar, QSpinnerFacebook } from 'quasar'
import { hasApproverPermission } from '@/utilities/role-and-permission';
import { getBusinessDays } from '@/utilities/constants' 
import { useUserLeave } from '@/stores/user/leave';
import LeaveForm from '@/components/leaves/actions/LeaveForm.vue'

const $q = useQuasar()
const emit = defineEmits(['submit-form', 'close-form'])
const showModal = ref<boolean>(false)
const props = defineProps(['leave', 'showLeaveDetails'])
const accountStore = useAccountStore()
const adminLeaveStore = useAdminLeave()
const showLeaveForm = ref(false)
const leaveStore = useUserLeave()

const approveLeave = () => {
	$q.loading.show({
		spinner: QSpinnerFacebook,
	})
	
	adminLeaveStore
		.approveLeave(props.leave.id)
		.then(() => {
			emit('submit-form', true);
			closeForm()
		})
		.finally(() => $q.loading.hide());
}

const declineLeave = () => {
	$q.loading.show({
		spinner: QSpinnerFacebook,
	})
	
	adminLeaveStore
		.declineLeave(props.leave.id)
		.then(() => closeForm())
		.finally(() => $q.loading.hide());
}

const deleteLeave = () => {
	$q.dialog({
		title: 'Confirm',
		message: 'Are you sure you want to delete this leave?',
		cancel: true,
		persistent: true
	}).onOk(() => {
		$q.loading.show({
			spinner: QSpinnerFacebook,
		})

		leaveStore
			.deleteLeave(props.leave.id)
			.then(() => {
				closeForm()

				$q.notify({
					position: 'top',
					color: 'green',
					textColor: 'white',
					icon: 'recommend',
					message: 'Successfully deleted the leave!',
				})
			})
			.finally(() => {
				$q.loading.hide()
			})
	})
}

const closeForm = () => {
  emit('close-form', true)
  showModal.value = false
}

watch(() => props.showLeaveDetails, (newValue) => {
  showModal.value = newValue
})
</script>