<template>
  <q-dialog v-model="showModal" persistent>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Leave Form</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="cancelForm" />
      </q-card-section>

      <q-card-section>
        <q-form @submit="submitForm">
          <div class="row q-col-gutter-md">
            <div class="col-6">
              <q-toggle
                v-model="halfDay"
                icon="light_mode"
                size="lg"
                label="Halfday?"
                @update:model-value="() => {
                  if (halfDay == true) {
                    _endDate = _startDate
                    _dateRangeInput = `${_startDate} - ${_endDate}`
                    _dateRange = _startDate
                  }
                }"
              />
            </div>
            <div class="col-6" v-show="halfDay">
              <q-toggle
                v-model="postMeridiem"
                icon="cloud"
                size="lg"
                label="PM?"
              />
            </div>

            <div class="col-12">
              <q-select
                v-model="leaveType"
                :options="leaveOptions"
                option-label="name"
                option-value="id"
                label="Leave Type"
                outlined
                emit-value
                map-options
                :error="!!errorList.type"
                :error-message="errorList.type?.[0] || ''"
                :class="{ 'q-pb-none': !errorList.type }"
              ></q-select>
            </div>
            <div class="col-12">
              <q-input 
                :label="`Date Range`" 
                outlined 
                v-model:model-value="_dateRangeInput"
                :error="!!errorList.start_date || errorList.end_date"
                :error-message="errorList.start_date?.[0] || errorList.end_date?.[0] || ''"
                :class="{ 'q-pb-none': !errorList.start_date }"
                readonly
              >
                <template v-slot:prepend>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                      <q-date 
                        ref="dateMenu"
                        v-model="_dateRange"
                        range
                        mask="YYYY-MM-DD"
                        landscape
                        @update:model-value="() => {
                          if (typeof _dateRange === 'object') {
                            _startDate = _dateRange?.from
                            _endDate = _dateRange?.to

                            _dateRangeInput = `${_dateRange?.from} - ${_dateRange?.to}`
                            return
                          }

                          _dateRangeInput = _dateRange
                          _startDate = _dateRange
                          _endDate = _dateRange
                        }"
                      >
                        <div class="row items-center justify-end q-gutter-sm">
                          <q-btn label="Close" color="primary" flat @click="cancelForm" />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-12">
              <q-input
                v-model="reason"
                label="Reason"
                type="textarea"
                outlined
                :error="!!errorList.reason"
                :error-message="errorList.reason?.[0] || ''"
                :class="{ 'q-pb-none': !errorList.reason }"
              ></q-input>
            </div>
            <div class="col-12">
              <q-select
                v-model="initialApprovedPerson"
                :options="approvedByOptions"
                option-label="name"
                option-value="id"
                label="Approved By"
                outlined
                emit-value
                map-options
                :error="!!errorList.initial_approver"
                :error-message="errorList.initial_approver?.[0] || ''"
                :class="{ 'q-pb-none': !errorList.initial_approver }"
              ></q-select>
            </div>
            <div class="col-12">
              <q-btn
                color="primary"
                type="submit"
                label="Submit"
                class="q-mr-sm"
                :loading="isSubmitting"
              ></q-btn>
              <q-btn
                color="secondary"
                label="Cancel"
                @click="cancelForm"
              ></q-btn>
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import moment from 'moment'
import { ref, watch } from 'vue'
import { useQuasar, QSpinnerFacebook } from 'quasar'
import { useUserLeave } from '@/stores/user/leave'
import type { LeaveResponse } from '@/utilities/interfaces/leave';

const props = defineProps(['showLeaveForm', 'startDate', 'endDate', 'leave'])
const emit = defineEmits(['close-form'])
const $q = useQuasar()

const leaveStore = useUserLeave()
const showModal = ref(false)
const isSubmitting = ref(false)
const errorList = ref<Record<string, any>>({})

const leaveOptions = [
  {
        id: 1,
        name: "Annual Leave"
    },
    {
        id: 2,
        name: "Bereavement Leave"
    },
    {
        id: 3,
        name: "Compensatory Leave"
    },
    {
        id: 4,
        name: "Emergency Leave"
    },
    {
        id: 5,
        name: "Jury Leave"
    },
    {
        id: 6,
        name: "Maternity Leave"
    },
    {
        id: 7,
        name: "Military Leave"
    },
    {
        id: 8,
        name: "Parental Leave"
    },
    {
        id: 9,
        name: "Paternity Leave"
    },
    {
        id: 10,
        name: "Personal Leave"
    },
    {
        id: 11,
        name: "Holiday Leave"
    },
    {
        id: 12,
        name: "Sick Leave"
    },
    {
        id: 13,
        name: "Unpaid Leave"
    },
    {
        id: 14,
        name: "Vacation Leave"
    }
]

const approvedByOptions = [
  { id: 1, name: 'Client' },
  { id: 2, name: 'Department Team Leader' },
  { id: 3, name: 'HR / Admin Team' },
  { id: 4, name: 'CEO of the company' },
]

const leaveType = ref(1)
const halfDay = ref(false)
const postMeridiem = ref(false)
const _startDate = ref(moment().format('YYYY-MM-DD'))
const _endDate = ref(moment().format('YYYY-MM-DD'))
const dateMenu = ref(null)
const _dateRangeInput = ref(`${_startDate.value} - ${_endDate.value}`)
const _dateRange = ref<any>(moment().format('YYYY-MM-DD'))
const reason = ref('')
const initialApprovedPerson = ref(1)

const cancelForm = () => {
  emit('close-form', true)
  showModal.value = false
  resetForm()
}

const resetForm = () => {
  leaveType.value = 1
  halfDay.value = false
  postMeridiem.value = false
  _startDate.value = moment().format('YYYY-MM-DD')
  _endDate.value = moment().format('YYYY-MM-DD')
  reason.value = ''
  initialApprovedPerson.value = 1
  _dateRangeInput.value = `${moment().format('YYYY-MM-DD')} - ${moment().format('YYYY-MM-DD')}`
  _dateRange.value = moment().format('YYYY-MM-DD')

  errorList.value = {}
}

const submitForm = () => {
  $q.dialog({
    title: 'Confirm',
    message: 'Are you sure you want to save this leave?',
    cancel: true,
    persistent: true
  }).onOk(() => {
    $q.loading.show({
      spinner: QSpinnerFacebook,
    })

    if (props.leave)
      return updateLeave(props.leave.id)

    return createLeave()
  })
}

const createLeave = () => {
  leaveStore
    .createLeave({
      type: leaveType.value,
      half_day: halfDay.value ? 1 : 0,
      post_meridiem: postMeridiem.value ? 1 : 0,
      start_date: _startDate.value,
      end_date: _endDate.value,
      reason: reason.value,
      initial_approver: initialApprovedPerson.value,
    })
    .then(() => {
      cancelForm()

      $q.notify({
        position: 'top',
        color: 'green',
        textColor: 'white',
        icon: 'recommend',
        message: 'Successfully created a new leave. Kindly wait for the approval!',
      })
    })
    .catch((error) => {
      errorList.value = error?.response?.data?.error?.validation_errors
    })
    .finally(() => {
      $q.loading.hide()
    })
}

const updateLeave = (leaveId: Number) => {
  leaveStore
    .updateLeave(leaveId, {
      type: leaveType.value,
      half_day: halfDay.value ? 1 : 0,
      post_meridiem: postMeridiem.value ? 1 : 0,
      start_date: _startDate.value,
      end_date: _endDate.value,
      reason: reason.value,
      initial_approver: initialApprovedPerson.value,
    })
    .then(() => {
      cancelForm()

      $q.notify({
        position: 'top',
        color: 'green',
        textColor: 'white',
        icon: 'recommend',
        message: 'Successfully updated the leave!',
      })
    })
    .catch((error) => {
      errorList.value = error?.response?.data?.error?.validation_errors
    })
    .finally(() => {
      $q.loading.hide()
    })
}

const editLeave = (leaveData: LeaveResponse) => {
  halfDay.value = Boolean(leaveData.half_day)
  postMeridiem.value = Boolean(leaveData.post_meridiem)
  leaveType.value = leaveData.type
  _startDate.value = leaveData.start_date
  _endDate.value = leaveData.end_date
  reason.value = leaveData.reason
  initialApprovedPerson.value = leaveData.initial_approver
}

const updateDateRange = (startDate: string, endDate: string) => {
  _dateRangeInput.value = `${startDate} - ${endDate}`

  if (startDate != endDate) {
    _dateRange.value = {
      'from' : startDate,
      'to' : endDate
    }
    return
  }
  _dateRange.value = startDate
}

watch(() => props.showLeaveForm, (newValue) => {
  showModal.value = newValue
})
watch(() => _dateRange.value, (newValue) => {
  if (!newValue) {
    _dateRangeInput.value = ''
  } 
})
watch([() => props.startDate, () => props.endDate], ([newStartDate, newEndDate]) => {
  _startDate.value = newStartDate
  _endDate.value = newEndDate

  updateDateRange(newStartDate, newEndDate)
});

watch(() => 
  props.leave, (newValue) => {
    if (newValue) {
      updateDateRange(newValue.start_date, newValue.end_date)
      editLeave(newValue)
    }
  },
  {
    deep: true
  }
)
</script>
