<template>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <v-card class="elevation-12">
            <v-img src="/images/errors/404.jpg" height="300" contain></v-img>
            <v-card-title class="text-center">Oops! Page Not Found</v-card-title>
            <v-card-text class="text-center">The page you are looking for does not exist.</v-card-text>
            <v-card-actions class="justify-center">
              <v-btn color="primary" to="/">Go Home</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script lang="ts">
  import { defineComponent } from 'vue';
  
  export default defineComponent({
    name: 'NotFoundView',
  });
  </script>
  
  <style scoped>
  .not-found {
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .elevation-12 {
    border-radius: 8px;
    padding: 16px;
  }
  
  .text-center {
    text-align: center;
  }
  </style>
  