<template>
	<div class="row q-col-gutter-md" style="min-width: inherit;">
		<div class="col-12 col-md-9">
			<NavigationButtons
				:date-range-text="dateRangeText"
				:hasTodayTimeIn="hasTodayTimeIn()"
				:hasTodayTimeOut="hasTodayTimeOut()"
				@navigate="navigate"
				@branch="(data: number | null) => {
					branch_id = data
					getUserAttendances()
				}"
				@department="(data: number | null) => {
					department_id = data
					getUserAttendances()
				}"
				@time-in="(data) => {
					timeIn()
				}"

				@time-out="(data) => {
					timeOut()
				}"
			/>
			
			<QCalendarScheduler
				ref="calendar"
				v-model="selectedDate"
				v-model:model-resources="resources"
				view="week"
				resource-id="id"
				resource-label="name"
				:resource-height="0"
				:weekdays="[1,2,3,4,5]"
				locale="en-us"
				:style="`height: ${innerHeight - 40}px`"
				transition-prev="slide-right"
				transition-next="slide-left"
				animated
				bordered
				style="--calendar-background': 'red"
				@change="handleViewChange">
				<template v-slot:resource-days="{ scope }">
					<template
						v-for="(event, index) in getEvents(scope)"
						:key="index">
						<q-badge
							:label="event.title"
							:style="getStyle(event)"
						/>
					</template>
				</template>
			</QCalendarScheduler> 
		</div>
		<div class="col-12 col-md-3">
			<ColorLegends />
		</div>
	</div>	
</template>
  
<style src="@quasar/quasar-ui-qcalendar/dist/index.css"></style>
<script setup lang="ts">
  import { computed, ref, watch, watchEffect } from 'vue'
  import { useUserAttendance } from '@/stores/user/attendance'
  import { QCalendarScheduler, today } from '@quasar/quasar-ui-qcalendar'
  import moment from 'moment'
  import ColorLegends from '@/components/attendance/ColorLegends.vue'
  import NavigationButtons from '@/components/attendance/actions/NavigationButtons.vue'
	import { useQuasar } from 'quasar'
	import { errorMessageOpts, successMessageOpts } from '@/utilities/notify'
	import { catchValidationMessages } from '@/utilities/error'
	import { useAccountStore } from '@/stores/account'
	import usePusher from '@/utilities/pusher'
	import { updateOrPushArrayById } from '@/utilities/constants'

	const $q = useQuasar()
	const accountStore = useAccountStore()
  
  // Fullcalendar
  const dateRangeText = ref('') 
  const calendar = ref<any>(null)
  const _startDate = ref('')
  const _endDate = ref('')
  const selectedDate = ref(today())
  const innerHeight = computed(() => window.innerHeight * 0.88)
  const resources = ref<Array<Record<string, any>>>([])
  const events = ref<any>({})
  const branch_id = ref<number | null>(null)
  const department_id = ref<number | null>(null)
	const todayAttendance = ref<any>(null)
  
  // Fetch User attendance data
  const userAttendanceStore = useUserAttendance()
  const getUserAttendances = () => {
    userAttendanceStore.getAttendance(
			branch_id.value, 
			department_id.value, 
			_startDate.value, 
			_endDate.value
		)
  }

	const attendanceToCalendar = (usersAttendance: Array<Record<string, any>>) :Record<string, any> => {
		let resourcesArray: Array<Record<string, any>> = [];
			let eventsObject: Record<number, any> = {};

			usersAttendance.forEach(user => {
				resourcesArray.push({
					id: user.id,
					name: user?.information?.full_name ?? user.temporary_name,
				})

				if (user.attendance.length > 0) {
					user.attendance.forEach((_log: any) => {
						// get today's user attendance
						if (
							user.id == accountStore.account?.id &&
							_log.date == moment().format('YYYY-MM-DD')
						) {
							todayAttendance.value = _log
						}

						// Initialize array for the user if it's undefined
						if (!eventsObject[user.id]) {
							eventsObject[user.id] = [];
						}
				
						eventsObject[user.id].push({
							dow: 0,
							date: _log.date,
							title: `In: ${moment(_log.time_in, 'HH:mm').format('hh:mm a')}`,
							color: checkInColor(_log.time_in)
						})
						
						if (_log.time_out) {
							eventsObject[user.id].push({
								dow: 0.5,
								date: _log.date,
								title: `Out: ${moment(_log.time_out, 'HH:mm').format('hh:mm a')}`,
								color: checkOutColor(_log.time_out)
							})
						}
					});
				}
			});

			return {
				'resourcesArray': resourcesArray,
				'eventsObject': eventsObject
			}
	}

	const checkInColor = (timeIn: string) => {
		if (timeIn < '09:00:59') {
			return '#31CCEC'
		}
		
		if (timeIn > '09:00:59') {
			return '#F2C037'
		}
	}

	const checkOutColor = (timeOut: string) => {
		if (timeOut > '00:00:59' && timeOut < '18:00:59') {
			return 'red'
		}

		return '#31CCEC'
	}
  
  const getEvents = (scope: any) => {
    const eventsArray: any = []
    if (events.value[ scope.resource.id ]) {
      // get events for the specified resource
      const resourceEvents = events.value[ scope.resource.id ]
      // make sure we have events
      if (resourceEvents && resourceEvents.length > 0) {
        // for each event figure out start position and width
        for (let x = 0; x < resourceEvents.length; ++x) {
          eventsArray.push({
            left: getLeft(scope, resourceEvents[ x ]),
            top: resourceEvents[ x ].dow == 0.5 ? '38px' : '18px',
            title: resourceEvents[ x ].title,
						color: resourceEvents[ x ].color
          })
        }
      }
    }
    return eventsArray
  }
  
  const getStyle = (event: any) => {
    return {
      position: 'absolute',
      left: event.left,
      top: event.top,
	  	background: event.color
    }
  }
  
  const getLeft = (scope: any, event: any) => {
    let dow = 0;
    scope.days.forEach((_day: any, _key: any) => {
      if (_day.date == event.date) {
        dow = _key
      }
    });
  
    const left = (dow) * parseFloat(scope.cellWidth)
    const val = left + 20 + (scope.cellWidth.endsWith('%') ? '%' : 'px')
    return val
  }
  
  const handleViewChange = (scope: any) => {
		const formattedStartDate = moment(scope.start).format('MMMM D')
		const formattedEndDate = moment(scope.end).format('MMMM D YYYY')

		dateRangeText.value = `${formattedStartDate} - ${formattedEndDate}`

		_startDate.value = scope.start
		_endDate.value = scope.end

    getUserAttendances();
  }

	const navigate = (navigate: string) => {
		if (navigate === 'today') {
			calendar.value?.moveToToday()
		} else if (navigate === 'previous') {
			calendar.value?.prev()
		} else if (navigate === 'next') {
			calendar.value?.next()
		}
	}

	const timeIn = () => {
		userAttendanceStore
			.timeIn()
			.then(() => {
				const message = 'Successfully timed in!'
				$q.notify(successMessageOpts(message))
			})
			.catch((error) => {
				const data: Record<string, any> = error.response.data
				const errors: Record<string, any> = {}

				errors.value = catchValidationMessages(data)
				const message = errors.value['time_in'][0]
				
				$q.notify(errorMessageOpts(message))
			})
	}

	const timeOut = () => {
		userAttendanceStore
			.timeOut()
			.then(() => {
				const message = 'Successfully timed out!'
				$q.notify(successMessageOpts(message))
			})
			.catch((error) => {
				const data: Record<string, any> = error.response.data
				const errors: Record<string, any> = {}

				errors.value = catchValidationMessages(data)
				$q.notify(errorMessageOpts(data.error.message))
			})
	}

	const hasTodayTimeIn = () : boolean => {
		return todayAttendance?.value?.time_in ? true : false;
	}

	const hasTodayTimeOut = () : boolean => {
		return todayAttendance?.value?.time_out ? true : false;
	}

	const { eventData } = usePusher('attendance-updated', 'attendance-updated-event');

	const pushAttendanceData = () => {
		const userAttendance = eventData.value?.userAttendance;
		if (userAttendance) {
			updateOrPushArrayById(userAttendanceStore.$state.attendance, userAttendance)
		}
	}

	watchEffect(() => {
		pushAttendanceData()
	});

	watch(
		() => userAttendanceStore.$state.attendance,
		(usersAttendance: any) => {
			let { resourcesArray, eventsObject } = attendanceToCalendar(usersAttendance)

			resources.value = resourcesArray
			events.value = eventsObject
		},
		{ deep: true }
	)
</script>
  