<template>
	<div class="row q-col-gutter-md q-pt-sm">
		<div class="col-12">
			<q-card flat bordered class="transparent full-width">
				<q-card-section class="text-black">
					<div class="text-h8 text-bold">Color Legends</div>
				</q-card-section>
				
				<q-separator />

				<q-card-section>
					<div class="row">
						<div class="col-6">
							<div class="row q-col-gutter-md">
								<div class="col-12">
									<div class="text-h7 text-bold">Status</div>
									<div class="row q-col-gutter-xs">
										<div v-for="(status, key) in attendanceStatuses"
											:key="key"
											class="col-12">
											<div class="q-pt-sm">
												<div class="row items-center">
													<div class="col-auto">
														<q-avatar size="25px" class="q-mr-sm" :style="`background-color: ${status.hex_code}`" />
													</div>
													<div class="col">
														<div class="text-h7">{{ status.name }}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row q-col-gutter-md">
								<div class="col-12">
									<div class="text-h7 text-bold">Location</div>
									<div class="row q-col-gutter-xs">
										<div v-for="(location, key) in attendanceLocations"
											:key="key"
											class="col-12">
											<div class="q-pt-sm">
												<div class="row items-center">
													<div class="col-auto">
														<q-avatar size="25px" class="q-mr-sm" :style="`background-color: ${location.hex_code}`" />
													</div>
													<div class="col">
														<div class="text-h7">{{ location.name }}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useDepartmentStore } from '@/stores/department'
import { ref, watch, onBeforeMount } from 'vue';
import { attendanceStatuses, attendanceLocations } from '@/utilities/constants'
 
const departmentStore = useDepartmentStore()
const departments = ref<Array<any>>([])

watch(
	() => departmentStore.$state.departments,
	(newValue: any) => {
		departments.value = newValue
	},
	{ deep: true }
)

onBeforeMount(() => {
	departmentStore.getDepartments()
})
</script>