<template>
  <q-page class="row justify-center items-center">
    <div class="column">
      <div class="row">
        <q-card class="q-pa-md">
					<q-form @submit.prevent="login">
						<q-card-section class="text-center q-pa-none">
							<span class="text-h5">HiPE HRIS</span>
						</q-card-section>
						<q-card-section>
							<q-input 
								clearable 
								v-model="email" 
								label="Email"
								suffix="@bpoc.co.jp"
								:error="!!errors.email"
								:error-message="!!errors.email ? errors.email[0] : ''"
								@keypress="() => {
									errors.email = ''
								}">
								<template v-slot:before>
									<q-icon name="email" />
								</template>
							</q-input>
							<q-input 
								clearable 
								v-model="password" 
								type="password" 
								label="Password"
								:error="!!errors.password"
								:error-message="!!errors.password ? errors.password[0] : ''"
								hide-bottom-space
								@keypress="() => {
									errors.password = ''
								}">
								<template v-slot:before>
									<q-icon name="key" />
								</template>
							</q-input>
						</q-card-section>
						<q-card-section class="text-right q-pt-none q-pb-none">
							<p>Forgot password?</p>
						</q-card-section>
						<q-card-actions class="q-px-md">
							<q-btn type="submit" color="primary" class="full-width" label="Login" />
						</q-card-actions>
					</q-form>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
	import { defineComponent, ref } from 'vue'
	import { useAuthStore } from '@/stores/auth'
	import { catchValidationMessages } from '@/utilities/error'
	import { errorMessageOpts } from '@/utilities/notify'
	import { useRouter } from 'vue-router';
	import { useAccountStore } from '@/stores/account';
	import { QSpinnerFacebook, useQuasar } from 'quasar'

	export default defineComponent({
		name: 'LoginForm',
		setup() {
			const router = useRouter();
			const isLoading = ref(false)
			const email = ref('')
			const password = ref('')
			const errors = ref<any>({})
  			const $q = useQuasar()

			const login = async () => {
				const authStore = useAuthStore();
				const accountStore = useAccountStore();

				isLoading.value = true;
				let combiEmail: string = email.value ? 	`${email.value}@bpoc.co.jp` : email.value;

				
				$q.loading.show({
					spinner: QSpinnerFacebook,
				})

				await authStore.login(
					combiEmail, 
					password.value
				)
				.then(() => {
					accountStore.getAccountInfo().then(() => {
						router.replace({ name: 'Dashboard' })
					}).finally(() => isLoading.value = false)
				})
				.catch((error) => {
					const data: Record<string, any> = error.response.data;

					errors.value = catchValidationMessages(data)
					$q.notify(errorMessageOpts(data.error.message))
				})
				.finally(() => {
					isLoading.value = false
					$q.loading.hide()
				})
			};

			return {
				isLoading,
				email,
				password,
				errors,
				login
			}
		}
	});
</script>

<style>
.q-card {
  width: 400px;
}
</style>