<template>
  <q-layout view="lHh Lpr lFf" class="main-background">
    <MainLayout v-if="hasToken && route.name !== 'NotFound'" />
    <q-page-container>
      <q-page padding>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import MainLayout from '@/components/layouts/MainLayout.vue'
import { watch, ref } from 'vue'
import { RouterView, useRoute } from 'vue-router'
import { getCookie } from './utilities/cookie'
import { useAccountStore } from '@/stores/account'

const route = useRoute()
const hasToken = ref<boolean>(false)

watch(
  () => route.name,
  () => {
    hasToken.value = getCookie('token') ? true : false
  },
)

const accountStore = useAccountStore()
accountStore.getAccountInfo()
</script>
