@import './login.scss';
@import './calendar.scss';

.main-background {
	background-image: url('/images/main-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* Add other background properties as needed */
}
